.home_container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-principal-1);
    font-size: 1.3em;
    height: 30%;

    & span{
        color: var(--cor-destaque-2);
    }

    & p{
        color: var(--cor-principal-2);
    }
}