.card{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 2em 0 2em 1.5em;
    background-color: var(--cor-neutra-2);
    width: 370px;
    padding: 1.2em;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.521);
    

    & ul{
        list-style: none;

        & li{
            font-family: "Inter";
            font-size: 1.2em;
            margin: 2px 0;
        }

        & span{
            font-weight: 700;
            color: var(--cor-texto-escuro);
        }
    }
}

.btn{
    font-family: "Inter";
    display: flex;
    justify-content: center;
    background-color: var(--cor-principal-1);
    color: white;
    padding: 10px;
    border-radius: 7px;
    margin-top: .5em;
}